@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto'), url(@/assets/styles/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: local('Roboto'), url(@/assets/styles/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: local('Roboto'), url(@/assets/styles/fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}

